<%- include('partials/_header') %>
    <div class="col-md-12 mt-4 card p-4" id="editar" name="editar">
        <% for(var i=0; i<postulantes[0].length; i++) { %>
            <form action="/postulantes/edit/<%= postulantes[0][i].CodP %>" method="post" class="card-body">
                <h3 class="card-title"> Editar datos del postulante</h3>
                <h6>Modificar solo los campos necesarios.</h6>
                <div class="form-group">
                    <label for="Codigo">Código: </label>
                    <input class="form-control" type="text" name="Codigo" value='<%= postulantes[0][i].CodP %>'
                        readonly>
                </div>
                <div class="form-group">
                    <label for="DNI">DNI: </label>
                    <input type="text" name="DNI" class="form-control" value='<%= postulantes[0][i].DNI %>'
                        maxlength="8">
                </div>
                <div class="form-group">
                    <label for="Nombres">Nombres: </label>
                    <input type="text" name="Nombres" class="form-control" value='<%= postulantes[0][i].Nombres %>'
                        maxlength="45">
                </div>
                <div class="form-group">
                    <label for="Apellidos">Apellidos: </label>
                    <input type="text" name="Apellidos" class="form-control" value='<%= postulantes[0][i].Apellidos %>'
                        maxlength="45">
                </div>
                <div class="form-group">
                    <label for="Sexo">Sexo: </label>
                    <input type="text" name="Sexo" class="form-control" value='<%= postulantes[0][i].Sexo %>'
                        maxlength="1">
                </div>
                <div class="form-group">
                    <label for="Edad">Edad: </label>
                    <input type="number" name="Edad" value='<%= postulantes[0][i].Edad %>' class="form-control">
                </div>
                <div class="form-group">
                    <label for="Celular">Celular: </label>
                    <input type="text" name="Celular" value='<%= postulantes[0][i].Celular %>' class="form-control"
                        maxlength="9">
                </div>
                <div class="form-group">
                    <label for="TelFijo">Teléfono Fijo: </label>
                    <input type="text" name="TelFijo" value='<%= postulantes[0][i].TelFijo %>' class="form-control"
                        maxlength="9">
                </div>
                <div class="form-group">
                    <label for="Direccion">Direccion: </label>
                    <input type="text" name="Direccion" value='<%= postulantes[0][i].Direccion %>' class="form-control"
                        maxlength="50">
                </div>
                <div class="form-group">
                    <label for="EstadoCiv">Estado Civil: </label>
                    <select name="EstadoCiv" class="form-control">
                        <option value="">---Elija una opción---</option>
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                        <option value="Viudo">Viudo</option>
                        <option value="Divorciado">Divorciado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="NroHijos">Número de hijos: </label>
                    <input type="number" name="NroHijos" class="form-control" value='<%= postulantes[0][i].NroHijos %>'>
                </div>
                <div class="form-group">
                    <label for="TipoSangre">Tipo de Sangre: </label>
                    <input type="text" name="TipoSangre" class="form-control" value='<%= postulantes[0][i].TipoSangre %>'>

                </div>
                <div class="form-group">
                    <label for="Descpersonal">Descripción personal: </label>
                    <input type="text" name="Descpersonal" class="form-control mb-3"
                        value='<%= postulantes[0][i].DescPersonal %>'>
                </div>
                <h3 class="card-title">Contacto de Emergencia</h3>
                <div class="form-group">
                    <label for="DNICont">DNI: </label>
                    <input type="text" name="DNICont" class="form-control" maxlength="8"
                        value='<%= postulantes[0][i].DNICont %>'>
                </div>
                <div class="form-group">
                    <label for="NombresCont">Nombres: </label>
                    <input type="text" name="NombresCont" class="form-control" maxlength="45"
                        value='<%= postulantes[0][i].NombresCont %>'>
                </div>
                <div class="form-group">
                    <label for="ApellidosCont">Apellidos: </label>
                    <input type="text" name="ApellidosCont" class="form-control" maxlength="45"
                        value='<%= postulantes[0][i].ApellidosCont %>'>
                </div>
                <div class="form-group">
                    <label for="CelularCont">Celular: </label>
                    <input type="text" name="CelularCont" class="form-control" maxlength="9"
                        value='<%= postulantes[0][i].CelularCont %>'>
                </div>
                <div class="form-group">
                    <label for="DireccionCont">Dirección: </label>
                    <input type="text" name="DireccionCont" class="form-control" maxlength="45"
                        value='<%= postulantes[0][i].DireccionCont %>'>
                </div>
                <div class="form-group">
                    <label for="Vinculo">Vínculo: </label>
                    <input type="text" name="Vinculo" class="form-control mb-3" maxlength="20"
                        value='<%= postulantes[0][i].Vinculo %>'>
                </div>

                <h3 class="card-title">Información formativa</h3>
                <div class="form-group">
                    <label for="Nivel">Nivel Educativo: </label>
                    <select name="Nivel" class="form-control">
                        <option value="">---Elija una opción---</option>
                        <option value="1">Técnico</option>
                        <option value="2">Universitario</option>
                        <option value="3">Master</option>
                        <option value="4">Doctorado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Area">Educación superior: </label>
                    <select name="Area" class="form-control mb-3">
                        <option value="">---Elija una opción---</option>
                        <option value="101">Derecho</option>
                        <option value="102">Adm. Empresarial</option>
                        <option value="103">Análisis de Sistemas</option>
                        <option value="104">Comercio Int./Ext.</option>
                        <option value="105">Diseño Gráfico</option>
                        <option value="106">Diseño Web</option>
                        <option value="107">Economía</option>
                        <option value="108">Enfermería</option>
                        <option value="109">Farmacia</option>
                        <option value="110">Finanzas</option>
                        <option value="111">Ing. Química</option>
                        <option value="112">Ing. en Sistemas</option>
                        <option value="113">Marketing</option>
                        <option value="114">Medicina</option>
                        <option value="115">Química</option>
                        <option value="116">Químico Farmacéutica</option>
                    </select>
                </div>
                <h3 class="card-title">Experiencia laboral</h3>
                <div class="form-group">
                    <label for="AreaLab">Área Laboral: </label>
                    <select name="AreaLab" class="form-control" id="AreaLab">
                        <option value="">---Elija una opción---</option>
                        <option value="101">Medicina</option>
                        <option value="102">Farmacia</option>
                        <option value="103">Enfermería</option>
                        <option value="104">Logística</option>
                        <option value="105">Administración</option>
                        <option value="106">Contabilidad</option>
                        <option value="107">Finanzas</option>
                        <option value="108">Comercio Exterior</option>
                        <option value="109">Atención al cliente</option>
                        <option value="110">Ventas</option>
                        <option value="111">Comunicación</option>
                        <option value="112">Dpto. Técnico</option>
                        <option value="113">Investigación</option>
                        <option value="114">Gerencia</option>
                        <option value="115">Ingenierías</option>
                        <option value="116">Legales</option>
                        <option value="117">Marketing</option>
                        <option value="118">Recursos Humanos</option>
                        <option value="119">Sistemas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="FechaIni">Fecha inicio: </label>
                    <input type="date" name="FechaIni" class="form-control" value='<%= postulantes[0][i].FechaIni %>'>
                </div>
                <div class="form-group">
                    <label for="FechaFin">Fecha fin: </label>
                    <input type="date" name="FechaFin" class="form-control" value='<%= postulantes[0][i].FechaFin %>'>
                </div>
                <div class="form-group">
                    <label for="CelRef">Celular de referencia: </label>
                    <input type="text" name="CelRef" class="form-control" maxlength="9"
                        value='<%= postulantes[0][i].CelRef %>'>
                </div>
                <div class="form-group">
                    <label for="EmailRef">Email de referencia: </label>
                    <input type="email" name="EmailRef" class="form-control mb-3" maxlength="45"
                        value='<%= postulantes[0][i].EmailRef %>'>
                </div>
                <h3 class="card-title">Resolución</h3>
                <div class="form-group">
                    <label for="Calificacion">Comentarios: </label>
                    <input type="text" name="Calificacion" class="form-control"
                        value='<%= postulantes[0][i].Calificacion %>'>
                </div>
                <div class="form-group">
                    <label for="Apto">Calificación: </label>
                    <select name="Apto" class="form-control mb-3">
                        <% if (postulantes[0][i].Apto === 1) { %> 
                        <option value="1" <%= "selected" %>>Apto</option>
                        <option value="0">No apto</option>
                        <% } else { %>
                            <option value="1">Apto</option>
                            <option value="0" <%= "selected" %>>No apto</option>
                        <% } %>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary bi bi-send">
                <a href='/postulantes' class="btn btn-danger"> Volver </a>
            </form>
            <% } %>
    </div>
    <%- include('partials/_footer') %>