<%- include('partials/_header') %>
    <div class="container-fluid p-4 gap-5">
        <a href="/solicitudes" class="col-md-1 btn btn-danger bi bi-arrow-return-left" id="volver"> Volver </a>
        <div class="row p-3 gap-5 w-100 d-flex flex-wrap justify-content-center align-items-center">
            <h1 class="col-md-12 mb-0 text-center">Hijos de Postulantes</h1>
            <div>
                <label>Buscar: </label>
                <input type="search" id="buscador">
                <script>
                    document.addEventListener("keyup", e => {
                        if (e.target.matches('#buscador')) {
                            if (e.key === "Escape") e.target.value = '';
                            document.querySelectorAll('.registro').forEach(post => {
                                post.textContent.toLowerCase().includes(e.target.value.toLowerCase())
                                    ? post.classList.remove("d-none")
                                    : post.classList.add("d-none");
                            });
                        }
                    });
                </script>
            </div>
            <table class="table table-striped RegPost text-center" id="tbPostFarm">
                <tr>
                    <th>POSTULANTE</th>
                    <th>HIJO</th>
                    <th>EDAD-HIJO</th>
                    <th>CONSTANCIA-ESTUDIOS</th>
                </tr>
                <% for(var i=0; i < hijosPost[0].length; i++) { %>
                    <tr class="registro">
                        <td>
                            <%= hijosPost[0][i].Postulante %>
                        </td>
                        <td>
                            <%= hijosPost[0][i].Hijo %>
                        </td>
                        <td>
                            <%= hijosPost[0][i].Edad %>
                        </td>
                        <% if (hijosPost[0][i].ConstEstudios === 1) { %>
                        <td>
                            <a href="https://imgv2-1-f.scribdassets.com/img/document/418340877/original/3270be43db/1662855417?v=1" class="btn btn-success bi bi-archive-fill"></a>
                        </td>
                        <% } 
                         else { %>
                        <td>
                            <a class="btn btn-danger bi bi-archive-fill"></a>
                        </td>
                        <% } %> 
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>

    <%- include('partials/_footer') %>